@import './syntax.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{--bg-color: #101010;--font-color:#e0e0e0;--link-color:#008bb9;--link-visited-color:#336791;--quote-bg-color:#151515;background-color:var(--bg-color);font-family:"Inter", sans-serif; color:var(--font-color);}

body{max-width:800px;margin: auto;padding: 1em;line-height:1.5;}

.post-params{display:inline-flex;}

header{display:flex;align-items: center;}
.header-title a,a:visited{text-decoration:none;color:var(--link-color);}
.header-sections {list-style-type:none; display:inline-flex;}
.header-section a {margin:0 1rem 0 1rem;text-decoration: none;color:var(--link-color);}
.home-post a:visited{text-decoration:none;color:var(--link-visited-color);}

.active{font-weight:bold;text-decoration:underline;text-underline-offset: 0.5em;}

footer {text-align:center;}
.rss-footer {display:inline-flex;text-decoration:none;align-items:center;justify-content:center;gap:5px;margin-top:10px;text-decoration:none;color:var(--link-color);font-size:0.9rem; }
.rss-icon {stroke:currentColor;}

blockquote{color:var(--font-color);background-color:var(--quote-bg-color);border-left:5px solid #888;margin:1em 0 0 1em;padding:0.25em 0em 0.25em 1em;}

.highlight{margin:1em 0 1em 0;}

img{max-width:90%;height:auto;margin: 1em auto 1em auto;display: flex;}
.katex-html{color:var(--font-color);margin: 1em 0 1em 0;}