<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{  .Page.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ partial "stylesheets.html" }}
</head>
<body>
    <header>
        {{ partial "header.html" . }}
    </header>
    <hr>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <hr>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
    {{ partial "scripts.html" }}
</body>
</html>