{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}
{{ if not (.IsHome)}} 
{{ range .Pages }}
<ul class="home-posts">
    <li class="home-post">
        <span>
            <span class="posts-date">
                <i class="fa-solid fa-calendar"></i>
                {{ .Date.Format "01/02/2006" }} ~ 
            </span>
            <span class="posts-title">
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </span>
        </span>
    </li>
</ul>
{{ end }}
{{ end }}
{{ end }}